<a href="https://colab.research.google.com/github/sultanardia/market-basket-analysis/blob/main/Market_Basket_Analysis_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
df = pd.read_csv('drive/MyDrive/Dataset/groceries - groceries.csv')

In [ ]:
df.fillna('Null', inplace = True)
df.drop('Item(s)',inplace=True,axis=1)

In [ ]:
labels = []
for x in df.values:
  for y in x:
    labels.append(y)

In [ ]:
labels.remove('Null')

In [ ]:
labels = list(dict.fromkeys(labels))

In [ ]:
raw = pd.DataFrame(columns = labels)

In [ ]:
for iteration, x in enumerate(df.values):
  for y in x:
    if (y == 'Null'):
      break
    else:
      raw.loc[iteration, y] = 1

In [ ]:
raw.fillna(0, inplace = True)

In [ ]:
frequent_itemset = apriori(raw, min_support = 0.05, use_colnames = True)

In [ ]:
association_rules(frequent_itemset, metric = 'lift', min_threshold = 1).sort_values('lift', ascending = False)

          antecedents         consequents  ...  leverage  conviction
1            (yogurt)        (whole milk)  ...  0.020379    1.244132
0        (whole milk)            (yogurt)  ...  0.020379    1.102157
2  (other vegetables)        (whole milk)  ...  0.025394    1.214013
3        (whole milk)  (other vegetables)  ...  0.025394    1.140548
4        (whole milk)        (rolls/buns)  ...  0.009636    1.048452
5        (rolls/buns)        (whole milk)  ...  0.009636    1.075696

[6 rows x 9 columns]